<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioRails</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>



    <%= javascript_include_tag 'https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js' %>
    <%= javascript_include_tag 'https://use.fontawesome.com/releases/v5.0.8/js/solid.js' %>

    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
